body{
    display:flex;
    flex-direction: column;
   font-family: ch;
    background-image: url(./pictures/wideruled.jpeg);
    background-size: cover;
  
}

h3{
    align-self: center;
    margin:0;
    padding-left: 35px;
}

#buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.gameBtn{
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
    background-size: cover;
    width: 100px;
    height: 70px;
    border-style:none;
    background-color:transparent;



}
.gameBtn:hover{
    border-radius:9px;
    transform: scale(1.05);
}
.gameBtn:active{
    transform: scale(1);
}

#rock{
    background-image: url(./pictures/rock.png);
    
}
#paper{
    background-image: url(./pictures/paper.png);
    background-size: contain;
    background-repeat:no-repeat;
    width:60px;
    height:100px;
    justify-content: center;
}
#scissors{
    background-image: url(./pictures/scissors.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: 60px;
    height:80px;
    
}

#resultsBox{
    align-self: center;
    display: inline-flex;
    justify-self: center;
    align-items: center;
    background-image: url(./pictures/Resultsbox.png);
    background-size: contain;
    background-repeat:no-repeat;

    
   
}

#results{
    
   
    font-size: smaller;
    text-align: center;
   width: 200px;
   height:100px;
   max-width: 400px;
   max-height: 200px;
    margin-bottom:1em;
    padding: 1em;
    padding-left:10px;
    padding-right:10px;
}



#score{
    display: flex;
    justify-content: space-around;
}
.scoreBox{
    margin: auto;
    padding: 1.5em;
    width: 50px;
    height: 40px;
    font-size: smaller;
    text-align: center;
    
    
}
.scoreBoxText{
    text-align: center;

}
#c_score{
    background-image: url(./pictures/sticky1.png);
    background-size:contain;
    background-repeat:no-repeat;
    
}

#player_score{
    background-image:url(./pictures/sticky2.png);
    background-size:contain;
    background-repeat: no-repeat;
    justify-self: center;
    width: 60px;
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
    
    
    
}
#gameContainer{
    display:flex;
    flex-direction: column;
    width:100%;
    height:500px;
    position: relative;
}

#restart{
    align-self: center;
    border-radius: 10px;
    width: 20%;
    background-color: whitesmoke;
    border-style: none;
}
#restart:hover{
    font-size: large;
    
}
#restart:active{
    font-size:small;
}